body{
    background-color:#F4EEE8;
}

img {
    border:3px solid  #810000 ;
    border-radius: 100%;
    border-color:#810000 ;
    
    
}

#profile-pic {
    border: none;
    border-radius: 0%;
    height: 60px;
    width: 60px;
}

#table {
    border-collapse: collapse;
}

hr{
    border-color: rosybrown	;
    width: 40%;
    

}
#last {
    border-color: rosybrown	;
    border-style: none;
    border-top-style: dotted;
    border-width: 10px;
    height: 0;
    width: 4%;

}

h1{
    color: #810000;
    
}

h3 {
    color: #810000;

}

h2 {
    color: #810000;
}

#skills {
    
}